/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import './app/grid/bootstrap-grid.css';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
$md-bricks: (
    50 : #e0f1f9,
    100 : #b3dbf1,
    200 : #80c3e7,
    300 : #4dabdd,
    400 : #2699d6,
    500 : #0087cf,
    600 : #007fca,
    700 : #0074c3,
    800 : #006abd,
    900 : #0057b2,
    A100 : #dbeaff,
    A200 : #a8cdff,
    A400 : #75afff,
    A700 : #5ca1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($md-bricks, 400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);
$candy-app-acept:    mat-palette($mat-green);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa
}

body {
  margin: 0;
}
